@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.eot');
    src: url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff'),
         url('roboto-regular-webfont.ttf') format('truetype'),
         url('roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('roboto-light-webfont.eot');
    src: url('roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-light-webfont.woff2') format('woff2'),
         url('roboto-light-webfont.woff') format('woff'),
         url('roboto-light-webfont.ttf') format('truetype'),
         url('roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'icodrakons';
	src:url('../fonts/icomoon.eot?c48tcl');
	src:url('../fonts/icomoon.eot?#iefixc48tcl') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?c48tcl') format('truetype'),
		url('../fonts/icomoon.woff?c48tcl') format('woff'),
		url('../fonts/icomoon.svg?c48tcl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?m2is6b');
    src:url('fonts/icomoon.eot?#iefixm2is6b') format('embedded-opentype'),
        url('fonts/icomoon.ttf?m2is6b') format('truetype'),
        url('fonts/icomoon.woff?m2is6b') format('woff'),
        url('fonts/icomoon.svg?m2is6b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-servicom:before {
    content: "\e609";
}
.icon-servicom_color .path1:before {
    content: "\e60a";
    color: rgb(93, 84, 87);
}
.icon-servicom_color .path2:before {
    content: "\e60b";
    margin-left: -1.3994140625em;
    color: rgb(27, 133, 187);
}
.icon-servicom_color .path3:before {
    content: "\e60c";
    margin-left: -1.3994140625em;
    color: rgb(93, 84, 87);
}
.icon-servicom_color .path4:before {
    content: "\e60d";
    margin-left: -1.3994140625em;
    color: rgb(27, 133, 187);
}
.icon-servicom_color .path5:before {
    content: "\e60e";
    margin-left: -1.3994140625em;
    color: rgb(93, 84, 87);
}
.icon-servicom_color .path6:before {
    content: "\e60f";
    margin-left: -1.3994140625em;
    color: rgb(93, 84, 87);
}
.icon-servicom_color .path7:before {
    content: "\e610";
    margin-left: -1.3994140625em;
    color: rgb(93, 84, 87);
}
.icon-servicom_color .path8:before {
    content: "\e611";
    margin-left: -1.3994140625em;
    color: rgb(93, 84, 87);
}
.icon-servicom_color .path9:before {
    content: "\e612";
    margin-left: -1.3994140625em;
    color: rgb(93, 84, 87);
}
.icon-servicom_color .path10:before {
    content: "\e613";
    margin-left: -1.3994140625em;
    color: rgb(27, 133, 187);
}
.icon-servicom_color .path11:before {
    content: "\e614";
    margin-left: -1.3994140625em;
    color: rgb(27, 133, 187);
}
.icon-servicom_color .path12:before {
    content: "\e615";
    margin-left: -1.3994140625em;
    color: rgb(27, 133, 187);
}
.icon-sihos:before {
    content: "\e601";
}
.icon-sihos-color .path1:before {
    content: "\e602";
    color: rgb(34, 64, 157);
}
.icon-sihos-color .path2:before {
    content: "\e603";
    margin-left: -0.9140625em;
    color: rgb(15, 117, 189);
}
.icon-sihos-color .path3:before {
    content: "\e604";
    margin-left: -0.9140625em;
    color: rgb(2, 158, 226);
}
.icon-sihos-color .path4:before {
    content: "\e605";
    margin-left: -0.9140625em;
    color: rgb(8, 88, 170);
}
.icon-sihos-color .path5:before {
    content: "\e606";
    margin-left: -0.9140625em;
    color: rgb(48, 198, 244);
}
.icon-sihos-color .path6:before {
    content: "\e607";
    margin-left: -0.9140625em;
    color: rgb(0, 138, 209);
}
.icon-sihos-color .path7:before {
    content: "\e608";
    margin-left: -0.9140625em;
    color: rgb(88, 88, 90);
}
.icon-hgsjr:before {
    content: "\e600";
}