body
	padding-top 0

.i-img
	padding 0
	margin 0 0 0 -15px
	
	img
		width 100%
	
	.i-img-ft
		background-color black
		color white
		padding 15px
		font-size 16px
		
.i-for
	background-color #FFF
	padding-top 10%


.logos-baus
	padding-bottom 20px
	padding-right 0
	padding-left 0
	
	.logo-hgsjr
		padding-left 0
		
	.logo-ssa
		padding-right 0

.ft-for
	padding-top 40px
	
	hr
		margin 5px 0
		
	.sihos	
		padding 0

		.path1
			&:before
				content "\e602"
				font-family icodrakons
				font-size 40px
				margin-left -1.005em
				color rgb(34, 64, 157)
		.path2
			&:before
				content "\e603"
				font-family icodrakons
				font-size 40px
				margin-left -1.005em
				color rgb(15, 117, 189)
		.path3
			&:before
				content "\e604"
				font-family icodrakons
				font-size 40px
				margin-left -1.005em
				color rgb(2, 158, 226)
		.path4
			&:before
				content "\e605"
				font-family icodrakons
				font-size 40px
				margin-left -1.005em
				color rgb(8, 88, 170)
		.path5
			&:before
				content "\e606"
				font-family icodrakons
				font-size 40px
				margin-left -1.005em
				color rgb(48, 198, 244)
		.path6
			&:before
				content "\e607"
				font-family icodrakons
				font-size 40px
				margin-left -1.005em
				color rgb(0, 138, 209)
		.path7
			&:before
				content "\e608"
				font-family icodrakons
				font-size 40px
				color rgb(88, 88, 90)
				
	p
		margin 0