{% extends "base_principal.html" %}

{% load staticfiles %}

{% block titulo %}Solicitud Farmacia Venta{% endblock titulo %}

{% block estilos_css %}{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/sihos_principal.css' %}">
	<style type="text/css">
		.errorlist{
			list-style: none;
			color: #B94A48;
			margin: 0px 0px 9px 0px;
			padding: 0px;
		}
	</style>
{% endblock estilos_css %}

{% block scripts_js %}
	<script type="text/html" id="itemsolfarm-template">
		{% for forms in formset %}
			<tr id="itemsolfarm-__prefix__">
				<td>{{ forms.cantidad }}</td>
				<td>{{ forms.medicamento }}</td>
			</tr>
		{% endfor %}
	</script>

	<script>
		$(function () {
			$('.agregar-itemsolfarm').click(function(ev){
				ev.preventDefault();
				var count = parseInt($('#id_itemsolfarm_set-TOTAL_FORMS').attr('value'), 10);
				var tmplMarkup = $('#itemsolfarm-template').html();
				var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
				$('tbody.itemsolfarms').append(compiledTmpl);
				$('#id_itemsolfarm_set-TOTAL_FORMS').attr('value', count + 1);
				var cantidad = `.itemsolfarms #itemsolfarm-${ count } td input`
				$(cantidad).attr('name', 'itemsolfarm_set-' + count + '-cantidad');
				$(cantidad).attr('id', 'id_itemsolfarm_set-' + count + '-cantidad');
				var medicamento = `.itemsolfarms #itemsolfarm-${count} td select`
				$(medicamento).attr('name', 'itemsolfarm_set-' + count + '-medicamento');
				$(medicamento).attr('id', 'id_itemsolfarm_set-' + count + '-medicamento');
			});
		});
	</script>
{% endblock scripts_js %}

{% block menu_usuario %}
    <li><a href="#"><span class="glyphicon glyphicon-user pull-right"></span> Editar Perfil</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-cog pull-right"></span> Configuración</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/cerrarsesion/"><span class="glyphicon glyphicon-log-out pull-right"></span> Salir</a></li>
{% endblock menu_usuario %}

{% block menu_izquierdo %}
    <li><a href="/farmacia/"><i class="fa fa-medkit" aria-hidden="true"></i> Farmacia</a></li>
{% endblock menu_izquierdo %}

{% block contenido %}
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Farmacia <small>/Crear solicitud de farmacia</small>
                    </h1>
                </div>
                <div class="container-fluid">
                	<form action="." method="POST">
						{{ formset.management_form }}
						{% csrf_token %}

	                	<div class="clearfix"></div>
						<div class="panel panel-primary">
							<div class="panel-heading"  style="padding-bottom: 30px;">
								<p class="pull-left">Paciente</p>
								<p class="pull-right">Fecha: {{ Hoy|date:'DATE_FORMAT' }}</p>
							</div>
							<div class="panel-body">
								<div class="form-inline">
									<div class="form-group">
										<label for="receta">Receta: </label>
										{{ form.receta }}
									</div>
									<div class="form-group">
										<label for="receta2">Receta: </label>
										{{ form.receta2 }}
									</div>
									<div class="form-group">
										<label for="poliza_segpop">Seguro Popular: </label>
										{{ form.poliza_segpop }}
									</div>
								</div>
								<br>
								<div class="form-inline">
									<div class="form-group">
										<label for="paciente">Paciente: </label>
										{{ form.paciente }}
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-primary">
							<div class="panel-heading" style="padding-bottom: 45px;">
								<div class="pull-left" style="padding-top: 9px;">Medicamentos</div>
								<div class="pull-right">
									<a href="#" class="btn btn-info agregar-itemsolfarm"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Medicamento</a>
								</div>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover table-condensed">
										<thead class="bg-info">
											<tr>
												<th class="col-lg-1 text-center">Cantidad</th>
												<th class="col-lg-11">Medicamento</th>
											</tr>
										</thead>
										<tbody class=" itemsolfarms">
											{% for forms in formset %}
												<tr">
													<td>{{ forms.cantidad }}</td>
													<td>{{ forms.medicamento }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							<div class="panel-footer">
								<div class="form-inline">
									<div class="form-group">
										<label for="medico">Médico:</label>
										{{ form.medico }}
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Guardar</button>
							<a href="/farmacia/" class="btn btn-danger">Regresar</a>
						</div>
						{{ form.usuario }}
					</form>
                </div>
            </div> <!-- /.row -->
		</div>
	</div>
{% endblock contenido %}